@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'css/_theme.css';
@import 'css/_blocks.css';

/* Your other CSS below */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-raspberry);
  &:visited {
    color: var(--color-blueberry);
  }
}

blockquote {
  width: 90%;
  border-left: 4px lightblue solid;
  padding: 1.5rem 2rem;
  background: #efefef;
  position: relative;
  &:before {
    content: "\201C";
    font: 5rem var(--font-accent);
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    color: lightblue;
  }
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: var(--font-accent);
  margin-top: 2rem;
  margin-bottom: 1rem;
  &:first-child {
    margin-top: 0;
  }
}

.h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

footer {
  padding-top: 0;
  background: url('/assets/images/rip_footer.png') no-repeat top center / contain;
}

.post {
  .post-title {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    span.linklog-dq {
      position: absolute;
      font-size: 5em;
      opacity: 0.125;
      line-height: 1;
      &:first-child {
        top: -1rem;
        left: -1rem;
      }
      &:last-child {
        bottom: -4rem;
        right: -1rem;
      }
    }
  }
  .post-image-container {
    border-radius: 1rem;
    position: relative;
    aspect-ratio: 1/1;
    height: auto;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      @media (min-width: 768px) {
        top: 1.5rem;
        left: 1.5rem;
      }
      @media (min-width: 1024px) {
        top: 2rem;
        left: 2rem;
      }
    }
    &:before {
      background: lightblue;
      z-index: 0;
    }
    &:after {
      z-index: 1;
      opacity: 0.25;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      position: relative;
      object-fit: cover;
      z-index: 2;
    }
  }
  &.paper {
    .post-image-container {
      &:before {
        background: lightblue url('/assets/images/heather-green-bOrMAThd09M-unsplash.jpg') center / cover;
      }
    }
  }
  &.photoblog {
    .post-title {
      font-family: var(--font-fancy);
      line-height: 2;
      margin-top: 0.5rem;
      padding: 0 1rem 1rem;
      position: relative;
      &:before {
        --height: 2em;
        position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        background-color: lightblue;
        content: '';
        display: block;
        mask-image: url('/assets/images/lined_bg.svg');
        mask-size-y: var(--height);
        mask-position-y: calc(var(--height) * -0.25);
        z-index: -1;
      }
    }
    .post-image-container {
      margin-bottom: 2rem;
      @media (min-width: 768px) {
        margin-bottom: 2.5rem;
      }
      @media (min-width: 1024px) {
        margin-bottom: 3rem;
      }
      &:after {
        background: url('/assets/images/jon-tyson-P2aOvMMUJnY-unsplash.jpg') center / cover;
      }
    }
  }
  &.linklog {
    .post-image-container {
      &:before {
        background: url('/assets/images/ashni-Wh9ZC4727e4-unsplash.jpg') bottom right / cover;
      }
    }
  }
  &.microblog {
    font-family: var(--font-accent);
    .post-title {
      text-transform: uppercase;
      &:after {
        padding-left: 0.25rem;
        content: '\2014';
      }
    }
    .post-title-content {
      border-radius: 1rem;
      background: url('/assets/images/annie-spratt-BcGoZXjyPzA-unsplash.jpg') center / cover;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .wp-block-gallery {
      img {
        border-radius: 1rem;
      }
    }
  }
}

.prose {
  p,blockquote,ol,ul,li {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    margin-left: 2rem;
  }
  ul,ol {
    margin: 1.5rem 0;
  }
  ul li {
    &:before {
      content: '\2014';
      width: 2rem;
      text-align: center;
      display: block;
      float: left;
      margin-left: -2rem;
      color: purple;
    }
  }
  ol {
    
    li {
      
    }
  }
  hr {
    margin: 2rem 0;
  }
}

footer {
  .hashtag {
    font-family: var(--font-display2);
    font-variant: small-caps;
    color: #f7f7f7;
    letter-spacing: -0.3rem;
  }
}

.wp-block-embed > div {
  aspect-ratio: inherit;
  iframe {
    aspect-ratio: inherit;
    width: 100%;
    height: 100%;
  }
}

.wp-block-gallery {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.025);
  button.pn {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    aspect-ratio: 1/1;
    opacity: 0;
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Pro v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2026 Fonticons, Inc.--><path d="M544 96L96 96L96 544L544 544L544 96zM199 303C262.8 239.2 295.2 206.8 296 206L329.9 240C322.3 247.6 303.6 266.3 273.9 296L424 296L448 296L448 344L273.9 344C303.6 373.7 322.3 392.4 329.9 400L296 433.9L279 416.9C215.2 353.1 182.8 320.7 182 319.9L199 302.9z"/></svg>');
    &.prev {
      left: 0.5rem;
    }
    &.next {
      right: 0.5rem;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  
  button,
  &:before {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
  }
  &:before {
    height: 10rem;
    width: 100%;
    content: '';
    display: block;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
    position: absolute;
    z-index: 1;
  }
  & > figure {
    min-width: 100%;
    position: relative;
    margin: 0;
    button.lightbox-trigger {
      top: 1rem;
      right: 1rem;
      z-index: 2;
      width: 1.5rem;
      aspect-ratio: 1/1;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &:hover {
    button,
    &:before {
      opacity: 1;
    }
  }
}