@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other CSS below */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: var(--font-accent);
}

.h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

.post {
  .post-title {
    position: relative;
    span.linklog-dq {
      position: absolute;
      font-size: 5em;
      opacity: 0.125;
      line-height: 1;
      &:first-child {
        top: -1rem;
        left: -1rem;
      }
      &:last-child {
        bottom: -4rem;
        right: -1rem;
      }
    }
  }
  &.paper {
    
  }
  &.photoblog {
    .post-title {
      font-family: var(--font-fancy);
    }
  }
  &.microblog {
    font-family: var(--font-accent);
    .post-title {
      text-transform: uppercase;
      &:after {
        padding-left: 0.25rem;
        content: '\2014';
      }
    }
  }
}