@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'css/_blocks.css';

/* Your other CSS below */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

blockquote {
  width: 90%;
  border-left: 4px lightblue solid;
  padding: 1.5rem 2rem;
  background: #efefef;
  position: relative;
  &:before {
    content: "\201C";
    font: 5rem var(--font-accent);
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    color: lightblue;
  }
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: var(--font-accent);
  margin-top: 2rem;
  margin-bottom: 1rem;
  &:first-child {
    margin-top: 0;
  }
}

.h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

footer {
  padding-top: 0;
  position: relative;
  &:before {
    position: absolute;
      top: 0;
      left: 0;
    background: url('/assets/images/rip_footer.png') no-repeat top center / auto 100%;
    display: block;
    content: '';
    width: 100%;
    z-index: -1;
  }
}

.post {
  .post-title {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    span.linklog-dq {
      position: absolute;
      font-size: 5em;
      opacity: 0.125;
      line-height: 1;
      &:first-child {
        top: -1rem;
        left: -1rem;
      }
      &:last-child {
        bottom: -4rem;
        right: -1rem;
      }
    }
  }
  &.paper {
    
  }
  &.photoblog {
    .post-title {
      font-family: var(--font-fancy);
      line-height: 2;
      margin-top: 0.5rem;
      padding: 0 1rem 1rem;
      position: relative;
      &:before {
        --height: 2em;
        position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        background-color: lightblue;
        content: '';
        display: block;
        mask-image: url('/assets/images/lined_bg.svg');
        mask-size-y: var(--height);
        mask-position-y: calc(var(--height) * -0.25);
        z-index: -1;
      }
    }
  }
  &.microblog {
    font-family: var(--font-accent);
    .post-title {
      text-transform: uppercase;
      &:after {
        padding-left: 0.25rem;
        content: '\2014';
      }
    }
  }
}

.prose {
  p,blockquote,ol,ul,li {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    margin-left: 2rem;
  }
  ul,ol {
    margin: 1.5rem 0;
  }
  ul li {
    &:before {
      content: '\2014';
      width: 2rem;
      text-align: center;
      display: block;
      float: left;
      margin-left: -2rem;
      color: purple;
    }
  }
  ol {
    
    li {
      
    }
  }
  hr {
    margin: 2rem 0;
  }
}